<!-------------------------------- #region item dialog header ----------------------------->

<h1 mat-dialog-title>Item Details</h1>

<!-------------------------------- #endregion item dialog header --------------------------->

<!-------------------------------- #region dialog content ----------------------------------->

<mat-dialog-content>

    <!--------------------------- #region item dialog form ----------------------------------->

    <form [formGroup]="form">

        <!---------------------- #region item_name & item_code ------------------------------->

        <div class="row">

            <!----------------- #region item_name --------------------------------------------->

            <mat-form-field class="example-form-field col" appearance="outline">
                <mat-label>Item Name</mat-label>
                <input matInput required #inputName type="text" formControlName="item_name"
                    [(ngModel)]="model.item_name">
                <mat-error *ngIf="myFormControls['item_name']?.invalid">{{getErrorMessage(myFormControls['item_name'])}}
                </mat-error>
                <button matSuffix mat-icon-button (click)="inputName.value=''" aria-label="Clear">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <!----------------- #endregion item_name ------------------------------------------>

            <!----------------- #region item_code --------------------------------------------->

            <mat-form-field class="example-form-field col" appearance="outline">
                <mat-label>Item code</mat-label>
                <input matInput #inputCode required type="text" formControlName="item_code"
                    [(ngModel)]="model.item_code">
                <mat-error *ngIf="myFormControls['item_name']?.invalid">{{getErrorMessage(myFormControls['item_code'])}}
                </mat-error>
                <button matSuffix (click)="inputCode.value=''" mat-icon-button aria-label="Clear">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <!------------------------------- #endregion item_code -------------------------------->

        </div>
        <!--------------------------- #endregion item_name & item_code ----------------------------->

        <!-------------------------- #region item_price & item_quantity ----------------------------->

        <div class="row">

            <!---------------------------------- #region item_price ---------------------------------->

            <mat-form-field class="example-form-field col" appearance="outline">
                <mat-label>Item price</mat-label>
                <input matInput #inputPrice required type="text" formControlName="item_price"
                    [(ngModel)]="model.item_price">
                <mat-error *ngIf="myFormControls['item_price']?.invalid">
                    {{getErrorMessage(myFormControls['item_price'])}}
                </mat-error>
                <button matSuffix (click)="inputPrice.value=''" mat-icon-button aria-label="Clear">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <!---------------------------------- #endregion ---------------------------------->

            <!---------------------------------- #region item_quantity ---------------------------------->
            <mat-form-field class="example-form-field col" appearance="outline">
                <mat-label>Item quantity</mat-label>
                <input matInput #inputQuantity required type="text" formControlName="item_quantity"
                    [(ngModel)]="model.item_quantity">
                <mat-error *ngIf="myFormControls['item_quantity']?.invalid">
                    {{getErrorMessage(myFormControls['item_quantity'])}}
                </mat-error>
                <button matSuffix (click)="inputQuantity.value=''" mat-icon-button aria-label="Clear">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <!---------------------------------- #endregion ---------------------------------->

        </div>

        <!---------------------------------- #endregion ---------------------------------->

        <!---------------------------------- #region discription ---------------------------------->

        <div class="row">
            <mat-form-field class="example-form-field col" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput required #inputDescrption type="text" formControlName="discription"
                    [(ngModel)]="model.discription"></textarea>
                <mat-error *ngIf="myFormControls['discription']?.invalid">
                    {{getErrorMessage(myFormControls['discription'])}}
                </mat-error>
                <button matSuffix (click)="inputDescrption.value=''" mat-icon-button aria-label="Clear">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field class="example-form-field col" appearance="outline">
                <mat-label>ID</mat-label>
                <input matInput disable #inputDescrption type="text" formControlName="id">
            </mat-form-field>
        </div>

        <!---------------------------------- #endregion ---------------------------------->
    </form>

    <!---------------------------------- #endregion ---------------------------------->

</mat-dialog-content>

<!---------------------------------- #endregion ---------------------------------->

<!---------------------------------- #region dialog action btns ---------------------------------->

<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="saveCustomerItem(model)">Save</button>
    <button mat-button mat-dialog-close (click)="closeCustomerItem()">Close</button>
</mat-dialog-actions>

<!---------------------------------- #endregion ---------------------------------->