<div class="container">
    <h2 class="text-center">customer name</h2>

    <div class="row">
        <div class="input-group mb-3 col">
            <span class="input-group-text" id="basic-addon1">Customer Name</span>
            <input type="text" class="form-control" placeholder="enter customer name" aria-label="Customername" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3 col">
            <span class="input-group-text" id="basic-addon2">ID Number</span>
            <input type="number" class="form-control" placeholder="enter id number" aria-label="id number" aria-describedby="basic-addon2"> 
          </div>
    </div>
   
      <div class="row">
        <div class="input-group mb-3 col">
            <span class="input-group-text" id="basic-addon2">Phone</span>
            <input type="number" class="form-control" placeholder="enter a phone" aria-label="phone" aria-describedby="basic-addon2"> 
          </div>
    
          <div class="input-group mb-3 col">
            <span class="input-group-text" id="basic-addon1">City</span>
            <input type="text" class="form-control" placeholder="enter customer city" aria-label="Customername" aria-describedby="basic-addon1">
          </div>
      </div> 
      <div class="input-group">
        <span class="input-group-text">Adress</span>
        <textarea class="form-control" aria-label="With textarea" placeholder="enter the addriess"></textarea>
      </div>
      <div class="row">
        <a class="btn btn-success offset-11 col-1 my-2" routerLink="">Save</a>
      </div>
      
</div>



