<!------------------------- #region header ------------------------->

<h2 mat-dialog-title> {{data.message}}</h2>

<!------------------------- endregion ------------------------->

<!------------------------- #region dialog action buttons ------------------------->

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <a mat-button mat-dialog-close routerLink="/customer/list">See List</a>
</mat-dialog-actions>

<!------------------------- #endregion   ------------------------->