<!-- #region herder -->

<p class="text-white text-center fs-5">Customer Items</p>

<!--#endregion-->

<!--#region list-->

<mat-list>
    <mat-list-item>
        Item Name
        <!--#region btn action-->
        <div class="ms-auto">
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="openDialogeDetails()">
                <mat-icon>edite</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="Example icon button with a home icon">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <!--#endregion-->
        </mat-list-item>
    <mat-divider></mat-divider>
        <!--#endregion-->
</mat-list>

<!--#endregion-->